<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/" text=""></ion-back-button>
  </ion-buttons>
    <ion-title size="medium" class="ion-text-center header-info">profile</ion-title>

    <div class="logout-icon-wrapper" slot="end">
      <ion-icon class="logout-icon"name="log-out-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="content-wrapper" [fullscreen]="true">
  <!-- <ion-item horizontal="center" class="item-wrapper ion-justify-content-center">
    <ion-fab class="ion-fab-head">
      <ion-fab-button class="ion-fab-avatar">
        <img src="assets/sweet-pork-black-bowl-complete-with-cucumbers-long-beans-tomatoes-side-dishes.jpg" class="avatar-image" />
      </ion-fab-button>
    </ion-fab>
  </ion-item> -->


  <ion-row class="ion-justify-content-center">
    <div class="header-avatar-profile">
      <ion-item class="item-wrapper">
        <ion-fab class="ion-fab-head">
          <ion-fab-button class="ion-fab-avatar">
            <!-- <img src="assets/sweet-pork-black-bowl-complete-with-cucumbers-long-beans-tomatoes-side-dishes.jpg" class="avatar-image" /> -->
            <ion-img [src]="image ? image : 'assets/sweet-pork-black-bowl-complete-with-cucumbers-long-beans-tomatoes-side-dishes.jpg'" class="profile-image">{{image}}</ion-img>
          </ion-fab-button>
        </ion-fab>
      </ion-item>
    </div>
  </ion-row>



    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Name</h2>
          <p>{{ name ? name : 'John Doe' }}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Org</h2>
          <p>{{ company ? company : 'Kinderhaus' }}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Contact</h2>
          <p>{{ phone ? phone : '+10759074257' }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Email</h2>
          <p>{{ email ? email : 'john.doe@example.com' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <!-- <ion-item-divider></ion-item-divider> -->


    <!-- <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img [src]="image" class="profile-image">{{image}}</ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Name:</ion-label>
            <ion-text>{{ name }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Company:</ion-label>
            <ion-text>{{ company }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Phone:</ion-label>
            <ion-text>{{ phone }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>Email:</ion-label>
            <ion-text>{{ email }}</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <ion-row class="ion-justify-content-center row-button">
      <ion-button class="button-check" shape="round">

          <div class="btn-text">Check</div>
        <ion-icon name="chevron-forward-outline" class="icon-margin"></ion-icon>
      
      </ion-button>
    </ion-row>

</ion-content>
